.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid #2f9331;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.infoText {
  font-size: 16px;
  color: white;
}

.detailCardButton {
  background-color: #8bcf21;
  border: 1px solid #2f9331;
  color: black;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #2f9331;
}
