.navbarContainer {
  display: flex;
  height: 50px;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 75, 75);
  width: 100%;
  z-index: 2;
}

.logoLink {
  cursor: pointer;
}
