.containerPaginator {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: black;
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  border-radius: 5px;
  padding: 10px 0;
}

.paginatorButton {
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--forest-green);

  &:disabled {
    color: black;
    cursor: not-allowed;
  }
}

.pageInput {
  font-size: 18px;
  color: white;
  background-color: black;
  border: 1px solid var(--forest-green);
  border-radius: 5px;
  padding: 0 10px;
}
