.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50vh;
}

.errorMessage {
  font-weight: bold;
  font-size: 48px;
  color: white;
  margin: 0 20px;
}

.goBackLink {
  font-size: 30px;
  text-decoration: underline;
  color: #2f9331;
  cursor: pointer;
}
