.container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
}

.characterGrid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
  margin-bottom: 60px;
}

.testText {
  font-size: 100;
}

.goTopButton {
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  padding: 5px;
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 0;
  }

  .characterGrid {
    grid-template-columns: 200px;
  }
}

@media screen and (max-width: 1007px) and (min-width: 641px) {
  .characterGrid {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 1008px) {
  .characterGrid {
    grid-template-columns: repeat(4, 200px);
  }
}
