.container {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 200px;
  align-items: center;
  overflow: hidden;
}

.characterGrid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
  margin-bottom: 60px;
}

.testText {
  font-size: 100;
}

.noResults {
  font-size: 36px;
  color: #2f9331;
  padding-top: 40vh;
}

.goTopButton {
  cursor: pointer;
  background-color: #2f9331;
  border: none;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 20px;
  bottom: 70px;
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 0;
  }

  .characterGrid {
    grid-template-columns: 200px;
  }
}

@media screen and (max-width: 1007px) and (min-width: 641px) {
  .characterGrid {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 1008px) {
  .characterGrid {
    grid-template-columns: repeat(4, 200px);
  }
}
