.container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-left: 200px;
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
}

.testText {
  font-size: 100;
}

@media (min-width: 320px) {
  .videoGrid {
    grid-template-columns: 200px;
  }
}
@media (min-width: 481px) {
  .videoGrid {
    grid-template-columns: repeat(2, 200px);
  }
}
@media (min-width: 641px) {
  .videoGrid {
    grid-template-columns: repeat(3, 200px);
  }
}
@media (min-width: 961px) {
  .videoGrid {
    grid-template-columns: repeat(4, 200px);
  }
}
@media (min-width: 1025px) {
  .videoGrid {
    grid-template-columns: repeat(5, 200px);
  }
}
@media (min-width: 1281px) {
  .videoGrid {
    grid-template-columns: repeat(6, 200px);
  }
}
